@import 'variables';

.relevant-articles {
	@include flexBox;
	@include flexAlignItems(center);
	img {
		padding: 0;
		height: 90px;
		width: 90px;
	}	
}

.body-text {
	margin-bottom: 0;
}

.meta-data {
	margin: 0 0 20px 0;
}

.meta-data, li.people, .people > ul {
	list-style-type: none;
	@include flexBox;
	@include flexJustifyContent(space-between);
	@include flexAlignItems(center);
	@include flexWrap(wrap);
}

.individuals {
	li {
		margin-right: 5px;
	}	
}