$small: "only screen and (max-width: 768px)"; /* small devices such as phones */
$medium: "only screen and (min-width: 768px) and (max-width: 1280px)"; /* Medium devices such as tablets and laptops */
$large: "only screen and (min-width: 1281px)"; /* Large devices such as desktops and TVs */

body {
	// GENERAL PAGE LAYOUT
	h1 {
		text-align: center;
	}
	h3 {
		display: inline;
		text-align: center;
	}
	.width-row {
		margin-bottom: 20px;
		text-align: center;
	}
	.media-block {
		margin-bottom: 50px;
	}
	// END GENERAL PAGE LAYOUT

	// Make all rectangles the same height and width, ready to have colour set when media query is applied
	.large-box,
	.medium-box,
	.small-box {
		border: solid 1px #000;
		height: 100px;
		p {
			text-align: center;
			padding-top: 10px;
		}
	}

	// Colour the top rectangle red if the screen is large
	.large-box {
		@media #{$large} {
			background: red;
			p {
				color: white;
			}
		}
	}

	// Colour the middle rectangle yellow if the screen is medium
	.medium-box {
		@media #{$medium} {
			background: yellow;
		}
	}

	// Colour the bottom rectangle green if the screen is small 
	.small-box {
		@media #{$small} {
			background: green;
			p {
				color: white;
			}
		}
	}
}