body {
	h1 {
		text-align: center;
	}
	h3 {
		display: inline;
		margin-bottom: 20px;
	}
	.large-box,
	.medium-box,
	.small-box {
		border: solid 1px #000;
		height: 100px;
		margin-bottom: 50px;
	}
	.large-box {
		@media only screen and (min-width: 1281px) {
			background: red;
		}
	}
	.medium-box {
		@media only screen and (min-width: 769px) and (max-width: 1280px) {
			background: yellow;
		}
	}
	.small-box {
		@media only screen and (max-width: 768px) {
			background: green;
		}
	}
}